body {
    font-family: 'Tiro Devanagari Hindi', serif;
    margin: 0;


}

#color {
    color: orangered;
}

.half-width {
    width: 40%;
    padding-left: 30px;
    font-size: 25px;
}

.half-width img {
    width: 70%;

    padding-left: 80px;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
    background-repeat: no-repeat;

}




.order {
    text-decoration: none;
    font-weight: 1000;
    background-image: linear-gradient(orange, orangered);
    border-radius: 50px;
    padding: 15px 30px;
    color: black;
    font-size: 20px;

}

.half-width1 {
    width: 50%;
    font-size: 20px;
}

.half-width1 img {
    width: 40%;
    height: 86.5%;
    padding-left: 40%;
    margin-top: 10%;
    margin-bottom: 0%;
}

.su {
    padding-left: 15%;
}



.bg {
    background-image: url(images/7.png);



}

p {
    overflow-wrap: break-word;
    padding-right: 30%;
}

.contact {
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 25px;
    background-image: linear-gradient(orange, orangered);
    color: black;

}



.para {
    padding-left: 30%;
    text-align: justify;
}

.pictures {
    display: flex;
    justify-content: center;

}

.shape {
    width: 30%;
    height: 105%;
    margin: 10px 20px;
    box-shadow: 5px 5px 15px gray;
    border-radius: 25px;

}

.shape img {

    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.title {
    padding-left: 15px;
    padding-right: 15px;
    text-align: justify;
}

.sub {
    display: flex;
    box-shadow: 5px 5px 10px;
    justify-content: center;
}

.design {
    margin: 40px 100px;
}